@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: var(--font-inter), sans-serif;

	--breakpoint-xs: 30rem;

	--color-brand-50: var(--color-purple-50);
	--color-brand-100: var(--color-purple-100);
	--color-brand-200: var(--color-purple-200);
	--color-brand-300: var(--color-purple-300);
	--color-brand-400: var(--color-purple-400);
	--color-brand-500: var(--color-purple-500);
	--color-brand-600: var(--color-purple-600);
	--color-brand-700: var(--color-purple-700);
	--color-brand-800: var(--color-purple-800);
	--color-brand-900: var(--color-purple-900);
	--color-brand-950: var(--color-purple-950);

	--color-0: color-mix(in oklch, currentColor 0%, transparent);
	--color-10: color-mix(in oklch, currentColor 10%, transparent);
	--color-20: color-mix(in oklch, currentColor 20%, transparent);
	--color-30: color-mix(in oklch, currentColor 30%, transparent);
	--color-40: color-mix(in oklch, currentColor 40%, transparent);
	--color-50: color-mix(in oklch, currentColor 50%, transparent);
	--color-60: color-mix(in oklch, currentColor 60%, transparent);
	--color-70: color-mix(in oklch, currentColor 70%, transparent);
	--color-80: color-mix(in oklch, currentColor 80%, transparent);
	--color-90: color-mix(in oklch, currentColor 90%, transparent);
	--color-100: color-mix(in oklch, currentColor 100%, transparent);

	--color-badge-tool: color-mix(
		in oklch,
		var(--color-brand-500) 40%,
		transparent
	);

	--color-badge-model: color-mix(
		in oklch,
		var(--color-purple-500) 40%,
		transparent
	);

	/* Background colors */
	--color-base: var(--color-zinc-200);
	--color-primary: var(--color-zinc-50);
	--color-secondary: var(--color-zinc-100);

	--color-banner: var(--color-zinc-950);
	--color-banner-hover: var(--color-zinc-800);
	--color-banner-text: var(--color-zinc-50);

	--color-cta-primary: var(--color-brand-400);
	--color-cta-primary-hover: var(--color-brand-300);
	--color-cta-secondary: var(--color-zinc-200);
	--color-cta-secondary-hover: var(--color-zinc-100);

	--color-cta-hover: color-mix(in oklch, currentColor 5%, transparent);

	/* Typography */
	--default-font-family: "Outfit";

	--color-cta-primary-text: var(--color-zinc-950);
	--color-text: var(--color-zinc-950);

	--text-sm: 0.875rem;

	/* General */
	--color-brand: var(--color-brand-500);
	--color-brand-hover: var(--color-brand-400);

	--color-error: var(--color-red-600);

	--color-outline: color-mix(in oklch, currentColor 10%, transparent);

	--easing: cubic-bezier(0.65, 0, 0.35, 1);

	--grid-xs: auto 5vw repeat(1, 1fr) 5vw auto;
	--grid-sm: 2rem 5vw repeat(4, 1fr) 5vw 2rem;
	--grid-md: auto 5vw repeat(6, min(9.5rem, 12vw)) 5vw auto;
	--grid-lg: auto 5vw repeat(6, max(9.5rem, 11.5vw)) 5vw auto;
	--grid-xl: auto min(11rem, 5vw) repeat(6, 11rem) min(11rem, 5vw) auto;

	--radius-multiplier: 0.5;
	--radius-cta: 0.275rem;
	--radius-element: calc(
		var(--radius-cta) + calc(var(--radius-multiplier) * 1rem)
	);
	--radius-pill: 100vw;

	--site-gap: --spacing(4);
	--spacing-element: --spacing(4);

	/* Gradients */
	--intensity: 0.25;
	--mask-amount: 75%;

	--radial-gradient: radial-gradient(
		ellipse at center,
		rgba(0, 0, 0, 25%) 0%,
		rgba(0, 0, 0, 0) 75%
	);
}

:root [data-theme="dark"] {
	/* Background colors */
	--color-brand: var(--color-brand-400);
	--color-brand-hover: var(--color-brand-300);

	--color-base: var(--color-zinc-900);
	--color-primary: var(--color-zinc-800);
	--color-secondary: var(--color-zinc-700);

	--color-cta-secondary: var(--color-zinc-600);
	--color-cta-secondary-hover: var(--color-zinc-500);

	--color-cta-hover: color-mix(in oklch, currentColor 10%, transparent);

	/* Typography */
	--color-text: var(--color-zinc-50);

	/* General */
	--color-error: var(--color-red-400);
}

@layer base {
	html,
	body {
		margin: 0;
		padding: 0;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: --spacing(32);
		scrollbar-gutter: stable;
		background-color: rgba(0, 0, 0, 0);
	}

	body {
		@apply font-sans;

		position: relative;
		display: flex;
		flex-direction: column;

		min-height: 100dvh;

		color: var(--color-text);
		background-color: var(--color-base);
	}

	h1 {
		@apply text-6xl;
		font-weight: bold;
	}

	h2 {
		@apply text-4xl;
		font-weight: 600;
	}

	h3 {
		@apply text-2xl;
		font-weight: 500;
	}
}

@utility content {
	display: flex;
	flex-direction: column;
	gap: --spacing(8);

	margin-top: --spacing(8);
	max-width: 60ch;

	h2 ~ h2 {
		margin-top: --spacing(8);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		text-wrap: pretty;
	}

	img {
		border-radius: var(--radius-cta);
	}

	p:has(img) {
		display: flex;
		flex-wrap: wrap;
		gap: --spacing(4);
	}
}

/* --- Components --- */
@utility badge {
	--default-color: color-mix(in srgb, currentColor 60%, transparent);

	display: flex;
	align-items: center;
	gap: --spacing(1.5);

	text-transform: uppercase;
	letter-spacing: var(--tracking-wide);
	color: var(--badge-color, var(--default-color));

	& svg {
		width: --spacing(4);
	}
}

@utility grid {
	--col-size: min(var(--min-col-size, 360px), 100%);

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--col-size), 1fr));
}

@utility lead {
	font-size: 1.325rem;
	color: color-mix(in srgb, currentColor 80%, transparent);
}
