@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: var(--font-inter), sans-serif;

	--color-brand-50: var(--color-purple-50);
	--color-brand-100: var(--color-purple-100);
	--color-brand-200: var(--color-purple-200);
	--color-brand-300: var(--color-purple-300);
	--color-brand-400: var(--color-purple-400);
	--color-brand-500: var(--color-purple-500);
	--color-brand-600: var(--color-purple-600);
	--color-brand-700: var(--color-purple-700);
	--color-brand-800: var(--color-purple-800);
	--color-brand-900: var(--color-purple-900);
	--color-brand-950: var(--color-purple-950);

	--color-badge-tool: color-mix(
		in oklch,
		var(--color-brand-500) 40%,
		transparent
	);

	--color-badge-model: color-mix(
		in oklch,
		var(--color-purple-500) 40%,
		transparent
	);

	/* Background colors */
	--color-base: var(--color-zinc-200);
	--color-primary: var(--color-zinc-50);
	--color-secondary: var(--color-zinc-100);

	--color-banner: var(--color-zinc-950);
	--color-banner-hover: var(--color-zinc-800);
	--color-banner-text: var(--color-zinc-50);

	--color-cta-primary: var(--color-brand-500);
	--color-cta-primary-hover: var(--color-brand-hover);
	--color-cta-secondary: var(--color-zinc-200);
	--color-cta-secondary-hover: var(--color-zinc-100);

	--color-cta-hover: color-mix(in oklch, currentColor 5%, transparent);

	/* Typography */
	--default-font-family: "Outfit";

	--color-cta-primary-text: var(--color-brand-950);

	--color-text: var(--color-zinc-950);
	--color-hover: color-mix(in oklch, currentColor 60%, transparent);

	/* General */
	--color-brand: var(--color-brand-500);
	--color-brand-hover: var(--color-brand-400);

	--color-error: var(--color-red-600);

	--color-outline: color-mix(in oklch, currentColor 30%, transparent);

	--easing: cubic-bezier(0.65, 0, 0.35, 1);

	--radius-cta: 0.4rem;
	--radius-element: calc(var(--radius-cta) + 1rem);
	--radius-pill: 100vw;

	--site-gap: --spacing(8);

	/* Gradients */
	--intensity: 0.25;
	--mask-amount: 75%;

	--radial-gradient: radial-gradient(
		ellipse at center,
		rgba(0, 0, 0, 25%) 0%,
		rgba(0, 0, 0, 0) 75%
	);
}

:root [data-theme="dark"] {
	/* Background colors */
	--color-base: var(--color-zinc-900);
	--color-primary: var(--color-zinc-800);
	--color-secondary: var(--color-zinc-700);

	--color-cta-secondary: var(--color-zinc-600);
	--color-cta-secondary-hover: var(--color-zinc-500);

	--color-cta-hover: color-mix(in oklch, currentColor 10%, transparent);

	/* Typography */
	--color-text: var(--color-zinc-50);

	/* General */
	--color-error: var(--color-red-400);
}

@layer base {
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	html {
		scrollbar-gutter: stable;
		background-color: var(--color-banner);
	}

	body {
		@apply font-sans;

		position: relative;
		display: flex;
		flex-direction: column;
		gap: var(--site-gap);

		min-height: 100dvh;

		color: var(--color-text);
		background-color: var(--color-base);
	}

	h1 {
		@apply text-6xl;
		font-weight: bold;
	}

	h2 {
		@apply text-4xl;
		font-weight: 600;
	}

	h3 {
		@apply text-2xl;
		font-weight: 500;
	}
}

@utility site-grid {
	--col-width: min(--spacing(48), 10%);
	--gutter-width: 6rem;

	display: grid;
	grid-template-columns:
		auto var(--gutter-width) repeat(6, var(--col-width))
		var(--gutter-width) auto;
	gap: var(--site-gap);
}

/* --- Components --- */
@utility badge {
	--default-color: color-mix(in srgb, currentColor 60%, transparent);

	display: flex;
	align-items: center;
	gap: --spacing(1.5);

	text-transform: capitalize;
	letter-spacing: var(--tracking-wide);
	color: var(--badge-color, var(--default-color));

	& svg {
		width: --spacing(4);
	}
}

@utility lead {
	font-size: 1.325rem;
	color: color-mix(in srgb, currentColor 80%, transparent);
}
